@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-raleway: var(--font-raleway-sans);
	--color-primary: #a68f6f;
	--color-dark: #303235;
	--color-light: #fafaf8;
	--shadow-white-smoke: 0 40px 100px 0 rgba(255, 255, 255, 0.9);
	--shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--color-light);
	color: var(--foreground);
	font-family: Raleway, sans-serif;
}
